{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}Log in{% endblock title %}

{% block content %}
<h1>Log in</h1>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '5061613290619243',
      xfbml      : true,
      version    : 'v14.0'
    });
    FB.AppEvents.logPageView();

    FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));



   function checkLoginState() {
   console.log("Hello bubu");
    FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}
</script>

<div id="fb-root"></div>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-dark" type="submit">Sign in</button>
    <fb:login-button
    scope="public_profile,email"
    onlogin="checkLoginState();">
    </fb:login-button>
</form>

<a class="p-2 text-dark forgotten_password" href="{% url 'account_reset_password' %}">
    <p>Forgotten password</p></a>

{% endblock content %}