{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log Out{% endblock title %}

{% block content %}
<div class="container">
    <h1>Log out</h1>
    <p><h3>Are you sure you want to log out?</h3></p>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <a type="button" class="btn btn-dark" href="{% url 'home' %}">Homepage</a>
        <button class="btn btn-dark" type="submit">Log Out</button>
    </form>
</div>
{% endblock content %}


