{% extends '_base.html' %}
{% load static %}

{% block title %}{{ product.title }}{% endblock title %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'product_list' %}">Books</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.title }}</li>
  </ol>
</nav>
<div class="product-detail">
    <h2><a href="">{{ object.title }}</a></h2>
    <p>Author: {{ object.author }}</p>
    <p>Price: ${{ object.price }}</p>
</div>
{% endblock content %}
