h1 {
    color: orange;
}


h2 {
    color: #FFC107;
}

.card-footer {
      position: relative;
      height: 100%;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #f5f5f5;
      color: white;
      text-align: center;
    }

.bookcover {
    height: 300px;
    width: 200px;
}

.book-main-image {
    height: 300px;
    width: 200px;
    }

.product-list {
    height: 440px;
    width: 200px;
}

.image-list {
    height: 440px;
    width: 200px;
    box-shadow: 5px 10px 8px #888888;
}

#wishlist-button {
    margin-right: 30px;
}

.page-content {
      padding-bottom: 120px;
      position: relative;
    }

/* Home Page Filters Section */
#age-check {
    display: none;
}

#mood-check { display: none; }

#submit-button { display: none; }

#book-animation-search {
    display: none;
    margin-left: auto;
    margin-right: auto;
}