{% extends '_base.html' %}
{% load static %}
{% load to_str %}

{% block title %}Bookstore Home{% endblock title %}

{% block content %}
<div class="app-body-homepage">
    <div id="filter-quiz" class="card">
        <div id="checkbox-filter">
            <div id="video-container" class="container">
                <video id="book-animation-search" autoplay muted loop>
                    <source src="{% static 'videos/books_animation.mp4' type='video/mp4' %}">
                </video>
            </div>
            <form id="filter-form" method="POST" data-ajax-target="{% url 'home' %}">
                <small id="required">* All fields are required</small>
                {% csrf_token %}
                <section class="filter1" id="genre-check">
                    <h2>SELECT GENRE</h2>
                    {% for genre in book_genres %}
                        {% if forloop.first %}
                            <div class="row flex-md-row align-items-center-top mt-5 mb-3">{% endif %}
                                <div class="col-4 col-4 col-4 col-4">
                                    <p><input type="checkbox" name="genre_check" value="{{ genre }}">  {{ genre }}</p>
                                    {% if forloop.counter|divisibleby:6 %}
                                </div>
                                <div class=row>{% endif %}
                                    {% if forloop.last %}
                                </div>{% endif %}
                            </div>
                    {% endfor %}
                </section>
                <section class="filter2" id="mood-check">
                    <h2>SELECT MOOD</h2>
                    {% for mood in book_moods %}
                    {% if forloop.first %}
                        <div class="row flex-md-row align-items-center-top mt-5 mb-3">{% endif %}
                            <div class="col-5 col-5">
                                <p><input type="radio" name="mood_check" value="{{ mood }}">  {{ mood }}</p>
                                {% if forloop.counter|divisibleby:7 %}
                            </div>
                            <div class=row>{% endif %}
                                {% if forloop.last %}
                            </div>{% endif %}
                        </div>
                    {% endfor %}
                </section>
                <section class="filter3" id="age-check">
                    <h2>Select age</h2>
                    {% for age in book_ages %}
                    {% if forloop.first %}
                        <div class="row flex-md-row align-items-center-top mt-5 mb-3">{% endif %}
                            <div class="col-5 col-5">
                                <p><input id="age_check_filter" type="radio" name="age_check" value="{{ age }}" required
                                oninvalid="testing()" oninput="setCustomValidity('')">  {{ age }}</p>
                                {% if forloop.counter|divisibleby:7 %}
                            </div>
                            <div class=row>{% endif %}
                                {% if forloop.last %}
                            </div>{% endif %}
                        </div>
                    {% endfor %}
                </section>
                <small id="filling-required">* Please, fill out the required fields</small>
                <button id="submit-button" type="button" value="Submit" onclick="submitForm()">Submit</button>
            </form>
            <button class="btn btn-dark" id="back-filter-button" value="Previous" disabled>Back</button>
            <button class="btn btn-dark" id="next-filter-button" value="Next">Next</button>
           <!-- <button class="btn btn-dark mt-3" type="button" id="submit-button" value="Submit" onclick="submitForm()">Submit</button>-->
        </div>
    </div>

    <div class="container text-center">
          <!--<a class="btn btn-warning btn-lg" href="{% url 'product_list' %}" role="button">Visit Shop</a>-->
    </div>
    <div id="filter-book-results">
        {% if book_showed %}
            <div id="#filter-book-results">
                <h2>Suggested Books ...</h2>
                {% for product in book_showed %}
                    <a href="{{ product.get_absolute_url }}">
                        <div id="product_list_view">
                            <div class="image-list card">
                                {% if product.book_image %}
                                    <img id="image-to-edit" class="book-main-image card-img-t15'1op" src="{{ product.book_image.url }}" alt="view more">
                                {% endif %}
                                <div class="card-body">
                                    <h6 id="book-title" class="card-title">{{ product.title }}</h6>
                                    <p id="book-subtitle" class="p-2 text-dark" style="margin-left:-7px; margin-top:-20px; font-size:14px">by {{ product.author }}</p>
                                    <a id="buy-button" class="btn btn-dark btn-sm mt-auto"  href="{{ product.get_add_to_cart_url }}">Buy</a>
                                        <a id="wishlist-button" href="{{ product.get_add_to_favs_url }}">
                                            <span title="Add to wishlist">
                                                <ion-icon style="pointer-events: none" name="heart-outline"></ion-icon>
                                            </span>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div id="no_books_retrieved">
                <p style="display: none">No books found based on your search</p>
            </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
